0 7 * * * root python3 bots/veilleesr-bot.py --jorf 2>&1
0 8 * * 1 root python3 bots/veilleesr-bot.py --jorfrecap 2>&1
0 13 * * * root python3 bots/veilleesr-bot.py --retweet --tweet --datarand --jorf 2>&1
